h1 {
    color: #800000;
    margin-left: 50px;
    margin-top: 20px;
}

h2 {
    color: #241c1c;
    margin-left: 50px;
    margin-top: 20px;
}

h3 {
    color: #686161;
    margin-left: 50px;
    margin-top: 20px;

}

h4 {
    color: #686161;
    margin-left: 50px;
    margin-top: 20px;

}

p {
    color: #241c1c;
    margin-left: 50px;
    margin-top: 20px; 
}

img {
    margin-left: 50px;
    margin-top: 20px;
    margin-bottom: 20px;
}

html, body, div.row{
    margin: 0 !important;
    padding: 0 !important;
    width: 100%;
}

a {
    margin-left: 50px;
}

iframe {
    width: 600px;
    height: 400px;
    margin-top: 20px;
    margin-left: 50px;
}

body {
    margin-bottom: 50px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

nav .navbar-nav li a {
    color: white;
}

.row {
    padding-right: 0px;
    margin-right: 0px;
}

