h1 {
    color: #421616;
    margin-left: 50px;
    margin-top: 20px;
}

h2 {
    color: #241c1c;
    margin-left: 50px;
    margin-top: 20px;
}

h3 {
    color: #686161;
    margin-left: 50px;
    margin-top: 20px;

}

p {
    color: #241c1c;
    margin-left: 50px;
    margin-top: 20px; 
}

img {
    margin-left: 50px;
    margin-top: 20px;
}

html, body, div{
    margin: 0 !important;
    padding: 0 !important;
    width: 100%;
}

a {
    margin-left: 50px;
}